In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

In [6]:
mydata = pd.read_csv("Data/iris.csv",names =["Sepal_Length","Sepal_Width","Petal_Length","Petal_Width","Species"])

In [8]:
mydata.head()

   Sepal_Length  Sepal_Width  Petal_Length  Petal_Width      Species
0           5.1          3.5           1.5          0.2  Iris-setosa
1           4.9          3.5           1.5          0.2  Iris-setosa
2           4.7          3.5           1.5          0.2  Iris-setosa
3           4.6          3.5           1.5          0.2  Iris-setosa
4           5.0          3.5           1.5          0.2  Iris-setosa